{erl_opts, [warnings_as_errors]}.
{deps, [
  {jiffy, ".*",     {git, "git://github.com/davisp/jiffy",
    {tag, "0.14.3"}}},
  {base64url, ".*", {git, "git://github.com/dvv/base64url.git",
    {tag, "dbe43555a40b621316bbb53d0bf242c246d9e0b4"}}},
  {ej, ".*",     {git, "git://github.com/seth/ej.git",
    {tag, "0332523799fdbab4b7c8e87074dcf57bb15005a6"}}}
]}.
